<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <title>Note List</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
      <header>
        <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lab-4/">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lab-4/add-note">Add Note</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lab-4/note-list">Note List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br/>
    <br/>
    <br/>
  <body style="background-color: lightcoral">
    <div class="mt-3 row g-3">
        {% for note in notes %}
        <div class="card text-white bg-dark ms-5" style="width: 18rem;">
            <div class="card-header">
                <h5 class="card-title">Title: {{ note.title }}</h5>
                <hr>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle">To: {{ note.to }}</h6>
                <h6 class="card-subtitle">From: {{ note.from_who }}</h6>
                <p class="card-text">Message: {{ note.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
