<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Note</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lab-4/">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lab-4/add-note">Add Note</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/lab-4/note-list">Note List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br/>
    <br/>
    <br/>
        <body style="background-color:lightcoral">
        <form action="" method="POST">
            {%  csrf_token %}
            <p>To: <input type="text" name="to" placeholder="to whom?" maxlength="30"></p>
            <p>From: <input type="text" name="from_who" placeholder="from who?" maxlength="30"></p>
            <p>Title: <input type="text" name="title" placeholder="insert notes title"></p>
            <p>Message: <input type="text" name="message" placeholder="insert message"></p>

            <input type = "submit" value = "Submit">
        </form>
    </body>
    </div>
</html>