<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ name }}</title>
    </head>
    <body>
        <form action="" method="POST">
            {%  csrf_token %}
            <p>Name: <input type="text" name="name" placeholder="Your Name" maxlength="30"></p>
            <p>NPM: <input type="text" name="npm" placeholder="npm" maxlength="30"></p>
            <p>Tanggal Lahir: <input type="date" name="DOB" placeholder="tanggal lahir"></p>
            <input type = "submit" value = "Submit">
        </form>
    </body>
</html>