<!DOCTYPE html>
<html lang="en">
  <head>
            <style>
          table, th, td {
            border:1px solid black;
        }
      </style>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->

		{% for friend in friends %}
                  <tr>
            <td>{{ friend.name }}</td>
            <td>{{ friend.npm }}</td>
            <td>{{ friend.DOB }}</td>
             </tr>
		{% endfor %}


      <!-- END SECTION -->
    </table>
  </body>
</html>
